---
layout: page
---	  
<article>



The {{ site.conference.name }} will take place at the University of Sheffield, UK.
From {{ site.conference.dates[0] | date: "%A %B, %-d %Y" }} to  {{ site.conference.dates.last | date: "%A %B, %-d %Y" }}.

<p></p>

{{ content }}

{% if site.map.show %}
{% include map.html %}
{% endif %}	  

<p></p>
<p>The Summer School will take place in room <b>E05 and E06, Pam Liversidge Building, The University of Sheffield</b>.</p>
<p></p>
<p>The Brewery Tours with Tutored Tasting, Pie & Peas will take place at the <b>Kelham Island Brewery</b>.</p>
